body{
background-color: #eeece2;
color: #360745;
}
h3{
    text-align: center;
}
nav{
    color: #d61c59;
    background-color: rgb(18, 88, 88);
}
h3{
    text-align: center;
    color: rgb(87, 126, 172);
    background-color: #08184b;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
}


a{
    color: #1b8798;
padding: 20px;
text-decoration: none;
font-size: 24px;
}
a:hover{
    color: rgb(52, 41, 114);
    text-decoration: underline;
}

section{

display: flex;
}