body{
background-color: #efeac5;
color: #360745;
}
h3{
    text-align: center;
}
nav{
    color: #d61c59;
    background-color: aqua;
}
.primeiro-titulo{
    text-align: center;
    color: antiquewhite;
    background-color: #e7d84b;
    padding: 25;
    margin: 10;
}

a{color: #1b8798;}
